<div class="padding">
    <h1>Admin Panel</h1>
    <br>
    <p>The number of posts: <%= Post.count %></p>
    <p>The number of comments: <%= Comment.count %></p>
    <p>The number of users: <%= User.count %></p>
</div>