<div class="container padding">
    <% @posts.each_slice(3) do |posts| %>
        <div class="row">
            <% @posts.each do |post| %>
                <div class="col-sm-6 col-lg-4 card">
                    <h2><%= link_to post.title, post_path(post) %></h2>
                    <p><%= post.body %></p>
                 </div>
            <% end %>
        </div>
    <% end %>
</div>