 <nav class="navbar navbar-light bg-light padding">
  <div>
    <a class="navbar-brand" href="/">Blog on Rails</a>
  </div>
  <div class="nav-btn">
    <div>
      <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
      <div>
        <%= link_to 'New Post', new_post_path, class:"nav-link" %>
    </div>
  </div>
</nav>
